:root {
  --one: white;
  --six: #081826;
  --seven: #F6D5FF;
  --eight: #FF5555;
  --nine: #DDAFE9;
  --ten: #B4E2FF;
  --eleven: #99CCFF;
  --twelwe: #99FF66;


}

.body1 {
 background-color: var(--seven);
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
}




::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--seven);
}
::-webkit-scrollbar-thumb {
  background: var(--six);
}


/*Hem sidan, sida 1*/


.topnav  {
background-color: var(--seven);
position: fixed;
overflow: hidden;
width: 100%;
box-shadow: 0 2px 4px 0 var(--nine);
}


.topnav a {
float: left;
color: var(--six);
text-decoration: none;
font-size: 1.5em;
margin: 1em;
text-transform: lowercase;
text-align: center;

margin-left: 2em;
font-weight: 600;
}



.topnav a:hover {

  border-bottom: 3px solid var(--nine);
  color: var(--six);
  font-style: italic;
}


.topnav-right {
  float: right;
  padding-right: 3em;
}


.topnav-right a {
  font-size: 1.5em;
}

.grid-container {
  display: grid;
  background-color: var(--seven);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2em;
  height: auto;
  grid-template-areas: "hero-image hero-image info info";
  padding: 3em;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#hero-image {
  grid-area: hero-image;
  background-image: url(kawaii-gba5b60814_1280.png);
  background-size:500px ;
  background-color: var(--seven);
  background-repeat: no-repeat;
  height: 500px;
  position:static

}
#hero-image:hover{
  background-image: url(apple-g4e637012e_1280.png);

}
#info {
  grid-area: info;
  text-align: center;
  line-height: 160%;
  align-items: center;
  color: var(--six);
  background-color: var(--seven);
  font-size: larger;
margin-top: 80px;
}

.formulär {
  width: 30%;
   border: 0.15em solid var(--six);
  border-radius: 0.30em;
  background-color: var(--eight);
  color: var(--six);
  padding: 30px;
  padding-top: 1em;
  text-align: center;
margin-left: auto;
margin-right: auto;
display: grid;
box-shadow: 5px 5px 5px 5px var(--nine);
  }


  .search-btn {
  color: var(--six);
  background-color: var(--seven);
 height: 1.85em;
  border: .15em solid var(--six);
  border-radius: 15em;
  width: 5em;
  margin-top: 1em;
}
.search-btn:hover {
  background-color: var(--seven);
  color: var(--six);
  border: .15em solid var(--one);
  border-radius: 15em;
  cursor:pointer;
}
.newSearch {
 color: var(--six);
  background-color: var(--seven);
 height: 1.85em;
  border: .15em solid var(--six);
  border-radius: 15em;
  width: 10em;
  margin-top: 1em;
}
.newSearch:hover {
 background-color: var(--seven);
  color: var(--six);
  border: .15em solid var(--one);
  border-radius: 15em;
  cursor:pointer;
}

.forfattarsokning {
  text-align: center;
color: white;
font-style: italic;

}


.search-bar {
  appearance: none;
  background-color: var(--eight);
  color: var(--six);
  margin: 0;
  width: 15.5em;
  height: 1.69em;
border: transparent;
border-bottom: 1.5px solid var(--six);
  border-radius: 0.15em;
}
 .search-bar::placeholder {
  color: white;
 }
.search-country {
  appearance: none;
  background-color: #fff;
  color: var(--six);
  margin: 0;
  width: 13.5em;
  height: 1.69em;
  border: 0.15em solid var(--six);
  border-radius: 0.15em;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 25em;
  border: 0.15em solid var(--six);
  border-radius: .15em;
  margin-top: 5em;

}

.styled-table thead tr {
  background-color: var(--six);
  color: #ffffff;
  text-align: left;

}

.styled-table th,
.styled-table td {
    padding: 12px 15px;


}

.result{
  display: flex;
  justify-content: center;
}


.footer {
margin-top: 10em;
   bottom:0;
   width:100%;
   height:60px;
   text-align: center;
   border-top: 3px solid var(--nine);
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2em;
}

/*Random page, sida 2*/

.body2 {
 background-color: var(--ten);
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
}

.topnav2  {
background-color: var(--ten);
position: fixed;
overflow: hidden;
width: 100%;
box-shadow: 0 2px 4px 0 var(--eleven);
}

.topnav2 a {
float: left;
color: var(--six);
text-decoration: none;
font-size: 1.5em;
margin: 1em;
text-transform: lowercase;
text-align: center;
margin-left: 2em;
font-weight: 600;
}

.topnav2 a:hover {

  border-bottom: 3px solid var(--eleven);
  color: var(--six);
  font-style: italic;
}

.topnav-right2 {
  float: right;
  padding-right: 3em;
}

.topnav-right2 a {
  font-size: 1.5em;
}


.grid-container2 {
  display: grid;
  background-color: var(--ten);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2em;
  height: auto;
  grid-template-areas: "hero-image2 hero-image2 info2 info2";
  padding: 3em;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#hero-image2 {
  grid-area: hero-image2;
  background-image: url(apple-gc29700e3e_1280.png);
  background-size:500px ;
  background-color: var(--ten);
  background-repeat: no-repeat;
  height: 500px;
  position:static

}
#info2 {
  grid-area: info2;
  text-align: center;
  line-height: 160%;
  align-items: center;
  color: var(--six);
  background-color: var(--ten);
  font-size: larger;
margin-top: 80px;
}

.surprise {
   color: var(--six);
  background-color: var(--eleven);
 height: 1.85em;
  border: 0.15em solid var(--six);
  border-radius: 15em;
  width: 50%;
  margin-top: 1em;
  box-shadow: 4px 7px 8px 5px var(--eleven);

}
.surprise:hover{
  color: var(--six);
  border: 0.15em solid var(--one);
  cursor: pointer;

}

.surpriseRefresh {
   color: var(--six);
  background-color: var(--eleven);
 height: 1.85em;
  border: 0.15em solid var(--six);
  border-radius: 15em;
  width: 20%;
  margin-top: 1em;
  box-shadow: 4px 7px 8px 5px var(--eleven);
  margin-left: auto;
  margin-right: auto;

}
.surpriseRefresh:hover{
  color: var(--six);
   border: 0.15em solid var(--one);
   cursor: pointer;
}
.formulär3 {
  width: 30%;
   border: 0.15em solid var(--six);
  border-radius: 0.30em;
  background-color: var(--eleven);
  color: var(--six);
  padding: 30px;
  padding-top: 1em;
  text-align: center;
margin-left: auto;
margin-right: auto;
display: grid;
box-shadow: 4px 7px 8px 5px var(--eleven);
margin-bottom: 5em;
  }

  .grid-container-section {
  display: grid;
  background-color: var(--ten);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 4em;
  height: auto;
  grid-template-areas: "post-form put-form delete-form";
padding: 3em;
max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#post-form {
   grid-area: post-form;
}
#put-form {
  grid-area: put-form;
}

#delete-form {
  grid-area: delete-form;
}

.cities-input {
   background-color: transparent;
    border: 0px solid;
    border-bottom: 1px solid var(--six);
    height: 20px;
    width: 100%;
    margin-bottom: 1em;
 }

 .cities-input::placeholder {
  color: var(--six);
 }

 select {
  cursor: pointer;
 }
.postBtn {
  margin-top: 3.5em;
   color: var(--six);
  background-color: var(--eleven);
 height: 1.85em;
  border: 0.15em solid var(--six);
  border-radius: 15em;
  width: 5em;
  box-shadow: 4px 7px 8px 5px var(--eleven);
}
.postBtn:hover {
 border: 0.15em solid var(--one);
 background-color: var(--eleven);
 color: var(--one);
  cursor:pointer;
}

.putBtn {
  margin-top: 1.5em;
   color: var(--six);
  background-color: var(--eleven);
 height: 1.85em;
  border: 0.15em solid var(--six);
  border-radius: 15em;
  width: 5em;
  box-shadow: 4px 7px 8px 5px var(--eleven);
}
.putBtn:hover {
 border: 0.15em solid var(--one);
 background-color: var(--eleven);
 color: var(--one);
  cursor:pointer;
}



.deleteBtn {
  margin-top: 1.6em;
   color: var(--six);
  background-color: var(--eleven);
 height: 1.85em;
  border: 0.15em solid var(--six);
  border-radius: 15em;
  width: 5em;
  box-shadow: 4px 7px 8px 5px var(--eleven);
}
.deleteBtn:hover {
 border: 0.15em solid var(--one);
 background-color: var(--eleven);
 color: var(--one);
  cursor:pointer;
}

.allaBtn {
   color: var(--six);
  background-color: var(--eleven);
 height: 1.85em;
  border: 0.15em solid var(--six);
  border-radius: 15em;
  width: 5em;

}
.allaBtn:hover {
 border: 0.15em solid var(--one);
 background-color: var(--eleven);
 color: var(--one);
  cursor:pointer;
}

.updateBtn {
  color: var(--six);
  background-color: var(--eleven);
 height: 1.85em;
  border: 0.15em solid var(--six);
  border-radius: 15em;
  width: 7em;
}
.updateBtn:hover {
 border: 0.15em solid var(--one);
 background-color: var(--eleven);
 color: var(--one);
  cursor:pointer;
}


.cities-tjansten {
  text-align: center;
color: var(--six);
font-style: italic;

}

.myChart {
  width: 40em;
  height: 30em;
  display: flex;
  align-items: center;
  margin: auto;
}

.h2chart {
  color: var(--six);
  font-size: small;

  text-align: center;
  margin-top: 10em;
}


.footer2 {
margin-top: 10em;
   bottom:0;
   width:100%;
   height:60px;
   text-align: center;
   border-top: 3px solid var(--eleven);
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2em;
}
.listaLänder {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.textarea {
 margin-left: auto;
  margin-right: auto;
  max-width: 10em;
}

.textareajao {
   border-radius: 1em;

  background-color: var(--eleven);
border: .15em solid var(--six);
box-shadow: 5px 5px 5px 5px var(--eleven);
margin-bottom: 7px;


}

.saveAndLoad {
  color: var(--six);
 border: 0.15em solid var(--six);
 background-color: var(--eleven);
  border-radius: 15em;
  width: 5em;
}
.saveAndLoad:hover {
border: 0.15em solid var(--one);
cursor: pointer;
}



@media screen and (max-width: 917px){
  .grid-container {
  display: grid;
  background-color: var(--seven);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2em;
  height: auto;
  grid-template-areas:
  "hero-image hero-image hero-image hero-image"
  "info info info info";
  padding: 3em;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

 .grid-container2 {
  display: grid;
  background-color: var(--ten);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2em;
  height: auto;
  grid-template-areas:
  "hero-image2 hero-image2 hero-image2 hero-image2"
  "info2 info2 info2 info2";
  padding: 3em;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#hero-image {
  grid-area: hero-image;
  background-image: url(kawaii-gba5b60814_1280.png);
  background-size:500px ;
  background-color: var(--seven);
  background-repeat: no-repeat;
margin-left: 9em;
  height: 500px;


}
#info {
  grid-area: info;
  text-align: center;
  line-height: 160%;
  align-items: center;
  color: var(--six);
  background-color: var(--seven);
  font-size: larger;
margin-top: -5em;
}

#info2 {
  grid-area: info2;
  text-align: center;
  line-height: 160%;
  align-items: center;
  color: var(--six);
  background-color: var(--ten);
  font-size: larger;
margin-top: -5em;
}
#hero-image2 {
  grid-area: hero-image2;
  background-image: url(apple-gc29700e3e_1280.png);
  background-size:500px ;
  background-color: var(--ten);
  background-repeat: no-repeat;
margin-left: 9em;
  height: 500px;


}
}
