:root {
  --one: white;
  --two: #F73D98;
  --three: #FF6DC5;
  --four: #FF99CC;
  --five: #FFC0E3;
  --six: #081826;
  --seven: #F6D5FF;
  --eight: #FF5555;
  --nine: #DDAFE9;
}

body {
 background-color: var(--seven);
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--seven);
}
::-webkit-scrollbar-thumb {
  background: var(--eight);
}
.topnav  {
background-color: var(--seven);
position: fixed;
overflow: hidden;
width: 100%;
box-shadow: 0 2px 4px 0 var(--nine);
}

.topnav a {
float: left;
color: var(--six);
text-decoration: none;
font-size: 1.5em;
margin: 1em;
text-transform: lowercase;
text-align: center;
padding-left: 2em;
font-weight: 600;


}
.topnav a:hover {

  border-bottom: 3px solid var(--nine);
  color: var(--six);
  font-style: italic;
}
.topnav-right {
  float: right;
  padding-right: 3em;
}
.topnav-right a {
  font-size: 1.5em;
}

.grid-container {
  display: grid;
  background-color: var(--seven);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2em;
  height: auto;
  grid-template-areas: "hero-image hero-image info info";
  padding: 3em;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#hero-image {
  grid-area: hero-image;
  background-image: url(kawaii-gba5b60814_1280.png);
  background-size:500px ;
  background-color: var(--seven);
  background-repeat: no-repeat;
  height: 500px;
  position:static

}
#info {
  grid-area: info;
  text-align: center;
  line-height: 160%;
  align-items: center;
  color: var(--six);
  background-color: var(--seven);
  font-size: larger;
margin-top: 80px;
}


fieldset {
  width: 50%;
   border: 0.15em solid var(--six);
  border-radius: 0.30em;
  background-color: var(--eight);
  color: var(--six);
  padding: 30px;
  padding-top: 1em;
  text-align: center;
margin-left: auto;
margin-right: auto;
display: grid;
box-shadow: 4px 7px 8px 5px var(--nine);
  }

  .search-btn {
  color: var(--six);
  background-color: white;
 height: 1.85em;
  border: 0.15em solid var(--six);
  border-radius: 0.15em;
  width: 3.6em;
  margin-top: 1em;
}
.search-btn:hover {
  background-color: var(--seven);
  color: var(--six);
}
.newSearch {
  color: var(--six);
  background-color: white;
 height: 1.85em;
  border: 0.15em solid var(--six);
  border-radius: 0.15em;
  width: 10em;
  margin: 0;
}
.newSearch:hover {
  background-color: var(--seven);
  color: var(--six);
}
/*
input[type="text"] {
  border: 2px solid var(--six);
  background-color: white;
  border-radius: 0.15em;
  width: 40%;
  margin-bottom: 2em;
}*/
.forfattarsokning {
  text-align: center;
color: white;
font-style: italic;

}
.search-bar {
  appearance: none;
  background-color: #fff;
  color: var(--six);
  margin: 0;
  width: 13.5em;
  height: 1.69em;
  border: 0.15em solid var(--six);
  border-radius: 0.15em;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 25em;
    box-shadow: 4px 7px 8px 5px var(--nine);
  border: 0.15em solid var(--six);
  border-radius: .15em;
  margin-top: 5em;

}

.styled-table thead tr {
  background-color: var(--eight);
  color: #ffffff;
  text-align: left;

}

.styled-table th,
.styled-table td {
    padding: 12px 15px;


}

.result{
  display: flex;
  justify-content: center;
}


footer {
margin-top: 10em;
   bottom:0;
   width:100%;
   height:60px;
   text-align: center;
   border-top: 3px solid var(--nine);
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}
@media screen and (max-width: 917px){
  .grid-container {
  display: grid;
  background-color: var(--seven);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2em;
  height: auto;
  grid-template-areas:
  "hero-image hero-image hero-image hero-image"
  "info info info info";
  padding: 3em;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#hero-image {
  grid-area: hero-image;
  background-image: url(kawaii-gba5b60814_1280.png);
  background-size:500px ;
  background-color: var(--seven);
  background-repeat: no-repeat;
margin-left: 9em;
  height: 500px;


}
#info {
  grid-area: info;
  text-align: center;
  line-height: 160%;
  align-items: center;
  color: var(--six);
  background-color: var(--seven);
  font-size: larger;
margin-top: -5em;
}
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }

  .cut-short {
    width: 50px;
  }

  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }

   .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }

  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
